<h3>hello {{ name }} your id is :{{ id }}</h3>
<label for="">Server Name</label>
<!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)">
 -->
  <input type="text" class="form-control" [(ngModel)]="serverName">
 
<!-- <p>{{serverName}}</p> -->
<br>
<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()"
>
  Add server
</button>
<p>{{ serverCreationStatus }}</p>
<p *ngIf="serverCreated">Server was creted, server name is {{serverName}}</p>
<p else="!serverCreated">No, server was created </p>

<li *ngFor="let server of servers">{{server}}</li>

<!-- assignment -->
<input type="text" class="form-control" [(ngModel)]="username" >
<p>{{username}}</p>
<button class="btn btn-primary" (click)="onclick()"
 [disabled]="username == '' "
>Button</button>